/* --------------------------------------------------
CONTENT CONTAINER
-------------------------------------------------- */

.container {
  padding: 20px;
  margin: auto;
  width: 980px;
  max-width: 100%;
  box-sizing: border-box;
}

/* --------------------------------------------------
BUTTON
-------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ab4c19;
  border: 1px solid #25201d;
  border-width: 1px 1px 3px;
  border-radius: 6px;
  font-size: 1.07rem;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background-color: #cf5513;
}

/* --------------------------------------------------
STACKABLE
-------------------------------------------------- */

.stackBlock {
  display: block;
}

.stackBlock + .stackBlock {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #99a4ab;
}

.stackBlock_orgContent > * {
  display: inline-block;
}

.stackBlock_orgContent > * + * {
  margin: 0 0 0 15px;
}

/* --------------------------------------------------
FORM FIELDS
-------------------------------------------------- */

.field {
  padding: 10px;
  border: 1px solid #25201d;
  font-size: 1rem;
  line-height: 1;
  border-radius: 6px;
  color: #25201d;
}

/* --------------------------------------------------
PILL LIST
-------------------------------------------------- */

.pillList {
  margin: 0;
  padding: 8px 0;
  list-style: none;
}

.pillList > * {
  margin: 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  display: block;
  box-shadow: 0 2px 3px #515658;
  width: 100px;
  max-width: 100%;
}

.pillList > *:before {
  content: ">";
  display: inline-block;
  color: #cf5513;
  padding: 0 8px 0 0;
}

.pillList > * + * {
  margin-top: 8px;
}
